<table class="table">
    <tr>
        <th>Employee Name</th>
        <th>From</th>
        <th>To</th>
        <th>Reason</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Leave Type</th>
    </tr>
    <tr *ngFor="let item of leavesList">
        <td>
            {{item.firstName}} {{item.lastName}}
        </td>
        <td>
            {{item.fromDate | date : 'dd/MMM/yyyy'}}
        </td>
        <td>
            {{item.toDate| date : 'dd-MMM-yyyy'}}
        </td>
        <td>
            {{item.reason}}
        </td>
        <td>
            {{item.createdBy}}
        </td>
        <td>
            {{item.createdOn | date : 'dd-MMM-yyyy'}}
        </td>
        <td>
            {{item.leaveTypeName}}
        </td>
    </tr>
</table>